.navbar {
  background-color: #C27113; /* red-500 equivalent */
  color: white;
  padding: 1rem 1.5rem; /* px-6 py-4 equivalent */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg equivalent */
}

.navbar-brand {
  font-size: 1.5rem; /* text-2xl equivalent */
  font-weight: 700; /* font-bold equivalent */
}

.navbar-links {
  display: flex;
  gap: 1.5rem; /* space-x-6 equivalent */
}

.nav-link {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}
.nav-link{
  text-align: center;
  color: #1F2937;
  justify-content: center;
  font-size: 18px;

}
.btn{
  background-color: #1F2937;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem; /* rounded-md equivalent */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  font-family: 20px;
}
.nav-link:hover {
  color: #2c2b2b; /* yellow-300 equivalent */
}